* {
  font-family: 'EB Garamond', serif;
}

body {
  width: 60%;
  margin: 0 auto;
}

nav {
  margin: 30px 0 30px 0;
  font-size: 25px;
}

p {
  line-height: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

span.code {
  font-family: monospace;
}

.neucha {
  font-family: 'Neucha', cursive;
}

.amatic {
  font-family: 'Amatic SC', cursive;
}

.garamond {
  font-family: 'EB Garamond', serif;
}

.section-title {
  font-size: 30px;
}

.code-area {
  padding: 10px;
  background-color: beige;
}