p,
a,
i,
h2,
h3,
h4,
li {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

a {
  color: #0d7992;
}

a:visited {
  color: #0d7992;
}

i {
  font-size: 0.9rem;
  color: gray;
}

i a {
  font-size: 0.9rem;
  color: gray;
}

p {
  font-size: 1rem;
}

small {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body {
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1.1em;
  height: 100vh;
}

nav {
  border-bottom: 1px solid #e4e4e4;
  background: white;
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 25px;
}

p {
  line-height: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

footer {
  border-top: 1px solid #e4e4e4;
  background: white;
  text-align: center;
}

footer p {
  font-size: .9rem;
}

@media (max-width: 800px) {
  nav ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

nav ul li a {
  font-weight: bold;
  color: #464646;
  text-decoration: none;
}

nav ul li a:visited {
  color: #464646;
}

nav ul li a.selected {
  text-decoration: underline;
}

span.code {
  font-family: monospace;
}

body article {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  flex: 2;
}

@media (max-width: 800px) {
  body article {
    width: 90%;
  }
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
}

.neucha {
  font-family: "Neucha", cursive;
}

.amatic {
  font-family: "Amatic SC", cursive;
}

.garamond {
  font-family: "EB Garamond", serif;
}

.section-title {
  border-bottom: 1px solid;
  color: #808080;
  font-size: 30px;
}

.book-title {
  margin-bottom: 0;
}

.code-area {
  background-color: beige;
  display: block;
  font-family: monospace;
  padding: 10px;
}

a.post {
  text-decoration: none;
  color: black;
}

a.post section {
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  border: 1px solid #cecbcb;
  border-radius: 5px;
}

a.post section h2 {
  color: #628db3;
  text-decoration: none;
  margin: 0;
}

a.post section p {
  text-decoration: none;
  margin: 0;
  display: inline;
}

a.post section small {
  text-decoration: none;
}

.post h2 {
  font-weight: bold;
}

#one-month-one-book td:nth-child(1) {
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

#one-month-one-book td:nth-child(2) {
  padding-left: 40px;
}

#jobs-list {
  list-style: none;
  line-height: 24px;
  padding-left: 0;
}

.caps {
  font-variant: petite-caps;
}
